@keyframes popup {
  from {
    opacity: 0;
    transform: translate(0%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(0%, -30%) scale(1);
  }
}

.appointment-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 85%;
  max-width: 600px;
  position: absolute;
  top: 40%;
  left: 7%;
  transform: translate(-50, -50);
  animation: popup 0.3s ease-out forwards;
  z-index: 5;
}

.appointment-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form input[type="date"],
.appointment-form input[type="time"],
.appointment-form input[type="file"],
.appointment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.appointment-form input[type="file"] {
  background-color: #f9f9f9;
  color: #555;
}

.appointment-form input[type="file"]:hover {
  border-color: #ccc;
  background-color: #f2f2f2;
}

.appointment-form input[type="file"]::-webkit-file-upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.appointment-form input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0457af;
}

.appointment-form textarea {
  resize: vertical;
  height: 120px;
}

.appointment-form button[type="submit"] {
  background-color: #282727;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.appointment-form button[type="submit"]:hover {
  background-color: rgb(91, 91, 91);
}

@media (max-width: 480px) {
  .appointment-form {
    padding: 15px;
  }

  .appointment-form input[type="text"],
  .appointment-form input[type="email"],
  .appointment-form input[type="date"],
  .appointment-form input[type="time"],
  .appointment-form input[type="file"],
  .appointment-form textarea,
  .appointment-form button[type="submit"] {
    font-size: 14px;
  }
  .formBtnclose {
    width: 30px;
    filter: invert(1);
  }
  .formBtnclose-container {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
