* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
}
li, ol {
  list-style-type: none;
}
body {
  font-family: "Roboto", serif;
}
hr {
  opacity: 5%;
  border: none;
  height: 1px;
  color: #ffffff; 
  background-color: #ffffff;
}
.primary-btn{
  background-color: #480761;
  font-family: "Bebas Neue", serif;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.primary-btn:hover{
  background-color: #6a0f8d;
}