@media screen and (max-width: 425px) {
  .sidepanel-main-container > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.1em;
    background-color: rgb(20, 20, 20);
    color: white;
    font-weight: 200;
    position: absolute;
    width: 100%;
    padding: 50px;
    height: 100%;
    text-transform: uppercase;
    left: 0%;
    top: 0;
    animation-name: sidepanel;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1000;
  }
  .img-close-btn {
    margin-left: 95%;
    width: 40px;
    margin-top: -30px;
    margin-bottom: 50px;
  }
  @keyframes sidepanel {
    from {
      left: 60%;
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
