@media screen and (max-width: 425px) {
    .socialmedia-main-content{
        display: flex;
        justify-content: end;
        padding: 15px;
        background-color: rgb(72, 7, 97);
        gap: 10px;
    }
    
    .socialmedia-main-content > img {
        width: 18px;
    }
    .search-icon{
        margin-left: 30px;
        margin-right: 12px;
    }
}
