@media (max-width: 425px) {
  .socialmedia-main-content {
    display: flex;
    justify-content: end;
    padding: 15px;
    background-color: #282727;
    gap: 10px;
  }

  .socialmedia-main-content > img {
    width: 20px;
  }
  .search-icon {
    margin-left: 30px;
    margin-right: 12px;
  }
}
